mlflow==2.21.3
cloudpickle==2.2.1
colorama==0.4.6
google-cloud-aiplatform==1.84.0
google-cloud-bigquery-storage==2.29.0
google-cloud-bigtable==2.29.0
google-cloud-datastore==2.20.2
google-cloud-dlp==3.28.0
google-cloud-language==2.17.0
google-cloud-pubsublite==1.12.0
google-cloud-recommendations-ai==0.10.16
google-cloud-spanner==3.52.0
google-cloud-videointelligence==2.16.0
google-cloud-vision==3.10.0
ipython==7.34.0
keras-tuner==1.4.7
namex==0.0.8
numpy==1.26.4
pandas==1.5.3
psutil==7.0.0
pyarrow==10.0.0
scikit-learn==1.6.1
scipy==1.11.0
tensorflow-io==0.37.1
tensorflow-transform==1.15.0
tensorflow==2.15.1